.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 2rem 2rem 2rem;
  gap: 20px;
  flex-wrap: wrap;
}

.greeting {
  max-width: 25vw;
  flex: 1;
}

.greeting > h1 {
  margin-bottom: 0;
}

.greeting > p {
  margin-top: 0;
  font-weight: var(--fw-semibold);
}

@media (max-width: 950px) {
  .greeting {
    max-width: 70vw;
    width: 70vw;
  }
}

@media (max-width: 350px) {
  .page {
    margin: 0 1rem 2rem 1rem;
  }

  .greeting {
    max-width: 80vw;
    width: 80vw;
  }

  .greeting > p {
    margin-bottom: 0;
  }
}
