.page {
  margin: 0 10rem;
  margin-bottom: 2rem;
  max-width: 2000px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 90vh;
}

.story__container {
  margin-top: 2rem;
}

.story__imgContainer {
  align-self: center;
}

.story__img {
  border-radius: var(--br-medium);
}
.story__imgDesc {
  margin-top: 0;
}

@media (max-width: 1100) {
  .story__container {
    flex-direction: column !important;
  }
}
