.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.name {
  display: flex;
  flex-direction: row;
}
.name > p {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.form > p {
  display: flex;
  flex-direction: column;
}

.formElement {
  width: 200px;
  border: 1px solid var(--color-primary);
  border-radius: var(--br-small);
  padding: 5px;
  background-color: var(--color-white);
  color: var(--color-primary);
}

.formElement:focus-visible {
  outline: var(--color-primary) auto 1px;
}

.textArea {
  height: 200px;
  width: 400px;
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  min-height: 100px;
}

.label {
  font-weight: var(--fw-semibold);
}

.errorDetail__container {
  padding: 0;
}
.errorDetaili__title {
  margin: 0;
  padding: 0;
}

.errorDetail {
  text-transform: capitalize;
  list-style-type: none;
}

@media (max-width: 500px) {
  .form {
    max-width: 400px;
  }

  .textArea {
    height: 200px;
    width: 400px;
    max-width: 300px;
    min-width: 200px;
    max-height: 300px;
    min-height: 100px;
  }
}

@media (max-width: 350px) {
  .form {
    padding-top: 0;
  }
  .textArea {
    height: 200px;
    width: 250px;
    max-width: 250px;
    min-width: 100px;
    max-height: 300px;
    min-height: 100px;
  }
}
