.img__row {
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
  background-color: var(--color-bg);
  margin: 0 var(--spacing-2);
  padding: 0 var(--spacing-4);
  padding-top: 20px;
  border-radius: var(--br-large);
}

@media (max-width: 800px) {
  .img__row {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
    padding: 0 var(--spacing-2);
    margin: 0;
  }
}
