.product__textContainer {
  width: var(--col-6);
  max-height: 600px;
}

.text__container > h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.product__textclass {
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 0;
}

.product__textDescContainer {
  max-height: calc(600px - 61px - 33px - 25px);
  overflow-y: scroll;
  margin-bottom: 0;
}

.product__textPrimer {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
}
