.product__imgContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: var(--br-full);
  min-height: 390px;
}

.product__img {
  align-self: center;
  max-width: 450px;
  max-height: 390px;
  border-radius: var(--br-medium);
}

@media (min-width: 1500px) {
  .product__img {
    max-width: 600px;
  }
}

@media (max-width: 1300px) {
  .product__img {
    max-width: 400px;
  }
}

@media (max-width: 1100px) {
  .product__img {
    max-height: 390px;
  }
}

@media (max-width: 950px) {
  .product__img {
    max-height: 350px;
  }
}

@media (max-width: 800px) {
  .product__img {
    max-height: 200px;
    min-height: 200px;
  }

  .product__imgContainer {
    align-items: start;
    justify-content: start;
    min-height: 200px;
  }
}
