.page {
  margin: 0 3rem;
  min-height: 70vh;
}
.product__wrapper {
  margin: var(--spacing-6) 0;
  gap: 100px;
  justify-content: center;
}

/* If the row contains only one product, align it to the left */
.product__wrapper > *:only-child {
  margin: 0;
  align-self: flex-start;
}

.shop__noProducts {
  margin: auto;
  margin-top: 2rem;
  width: 400px;
}
.shop__noProducts > p {
  font-weight: var(--fw-bold);
}

@media (max-width: 1400px) {
  .product__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
