.page {
  /*Set height as 100vh - header height*/
  height: calc(100vh - 90px);
  margin-bottom: 100px;
}

.product__wrapper {
  margin: auto;
  width: 95%;
  background-color: var(--colors-white);
  border-radius: var(--br-large);
  border-right: 2px solid var(--colors-primary);
  border-bottom: 2px solid var(--colors-primary);
  box-shadow: 0 0 10px var(--colors-primary);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 20px;
}
.product__container {
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1800px;
  max-height: 750px;
}

.product__imgContainer {
  width: var(--col-6);
  max-width: var(--col-6);
  max-height: 700px;
}
