.header {
  width: 95%;
  height: 90px;
  margin: 20px auto;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary);
  border-radius: var(--br-large);
  position: sticky;
  top: 20px;
  z-index: 1000;
}

.nav__logo {
  width: 60px;
  max-width: 60px;
  cursor: pointer;
}

.header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: no-wrap;
  gap: 20px;
}
.title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: var(--spacing-4);
  margin-left: auto;
  min-width: 400px;
}

.nav a {
  padding: 0 var(--spacing-2);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-lg);
  color: var(--color-primary);
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.desktopLink {
  display: flex;
  align-items: center;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}

.nav__toggleImg {
  height: 30px;
  width: auto;
}
.header__iconContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-left: 1rem;
}

@media (max-width: 1000px) {
  .header {
    display: block;
    padding-right: 0;
    overflow: hidden;
  }

  .nav__logo {
    align-self: start;
  }

  .nav__toggle {
    cursor: pointer;
    margin-right: 20px;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }

  .nav a::after {
    display: none;
  }
  .mobileLink {
    cursor: pointer;
    width: 100%;
    list-style-type: none;
    padding: 0.5rem;
    border-top: 2px solid var(--color-primary);
  }
  .mobileLink > a {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .hamburger {
    display: flex;
    margin-left: auto;
    margin-right: var(--spacing-4);
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: var(--fs-lg);
  }
}

@media (max-width: 470px) {
  .title {
    font-size: var(--fs-md);
  }
}
