.page {
  /*Set height as 100vh - header height*/
  height: calc(100vh - 90px);
  margin-bottom: 100px;
}

.product__container {
  margin: auto;
  width: 95%;
  background-color: var(--color-white);
  border-radius: var(--br-large);
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary);
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1800px;
  max-height: 750px;

  padding: 20px;
}

.product__imgContainer {
  width: var(--col-6);
  max-width: var(--col-6);
  max-height: 700px;
}
