.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modalContent {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.modalButton__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.modalArrow__container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.closeButton {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
