.modalImage {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .modalImage {
    min-width: 300px;
  }
}

@media (max-width: 400px) {
  .modalImage {
    min-width: 250px;
  }
}
