.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.leftArrow {
  transform: rotate(180deg); /* Rotate left arrow image */
}

@media (max-width: 400px) {
  .arrow {
    height: 50px;
    width: 50px;
  }
}
